@use "sass:math";
$primary: #a06dff;
$secondary: #d63384;
$success: #198754;
$warning: #ffc107;
$body-bg: #302a2f;
$body-color: #e039d8;
$border-color: #202421;
$body-text-align: null;
$grid-gutter-width: 0px;
$container-padding-x: 0px;
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.side-b {
  width: 3.5rem;
  height: 100vh;
}
.side-b a {
  padding: 0;
  height: 4rem;
  margin: 0;
}
.side-b .brand {
  padding-left: 0.1rem;
  padding-top: 0.1rem;
  width: 3.5rem;
  filter: invert(1);
}
.side-b .profile {
  height: 2rem;
  width: 2rem;
  margin-top: 00.2rem;
  margin-bottom: 00.2rem;
}

.intro {
  flex-direction: column;
}

.intro h2,
h4 {
  margin-bottom: 0;
  padding-left: 0.5rem;
}
.intro ol {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.intro ol > li {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  height: 4rem;
}

.svg-area {
  position: relative;
  width: 30vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #00000000;
}

.lava-lamp {
  height: inherit;
  background-color: inherit;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 660px) {
  .lava-lamp {
    height: auto !important;
    width: inherit;
    background-color: inherit;
    position: absolute;
    bottom: 0;
  }
}

.blobpath {
  fill: none;
  stroke: none;
}

.blobbase {
  fill: url(#blobfill);
  //clip-path: 'blobclippath'; //idk if this works or not
  //filter: drop-shadow(0px 0px 10px rgba(241, 209, 139, 0.5));
}

.blobbase.base0 {
  fill: url(#blobfill-darker);
}

.blobbase-hidden {
  visibility: hidden;
}

.blob {
  fill: url(#blobfill);
  //filter: drop-shadow(0px 0px 10px rgba(253, 213, 190, 0.5));
}

.blob-dark {
  fill: url(#blobfill-darker);
  //filter: drop-shadow(0px 0px 10px rgba(253, 213, 190, 0.5));
}

// menu bar stuff
//vars
$fg: #ff4081;
$bg: #3f51b5;
$pi: 3.14;

//config
$menu-items: 5;
$open-distance: 115px;
$opening-angle: $pi - 0.2;

%goo {
  filter: url("#shadowed-goo");
  // debug
  // background:rgba(255,0,0,0.2);
}
%ball {
  background: $fg;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}
.menu-open {
  display: none;
}
.menu-item {
  @extend %ball;
}
.hamburger {
  $width: 25px;
  $height: 3px;
  width: $width;
  height: $height;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: math.div(-$width, 2);
  margin-top: math.div($height, 2);
  transition: transform 200ms;
}
$hamburger-spacing: 8px;
.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}
.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
.menu {
  @extend %goo;
  $width: 380px;
  $height: 250px;
  position: absolute;
  left: 50%;
  margin-left: math.div(-$width, 2);
  padding-top: 20px;
  padding-left: math.div($width, 2);
  width: $width;
  height: $height;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item {
  &:hover {
    background: white;
    color: $fg;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 10ms+ (60ms * ($i));
    }
  }
}

.menu-open-button {
  @extend %ball;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  @for $i from 1 through $menu-items {
    $angle: (
      calc(calc($pi - $opening-angle) / 2) +
        calc(calc($opening-angle / calc($menu-items - 1)) * calc($i - 1))
    );

    &:nth-child(#{$i + 2}) {
      transition-duration: 80ms+ (80ms * $i);
      transform: translate3d(
        calc(cos($angle) * $open-distance),
        calc(sin($angle) * $open-distance),
        0
      );
    }
  }
}

// scss-docs-end theme-color-variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap");
