@import "../../node_modules/bootstrap/scss/bootstrap.scss";
//don't include this in the main script
body {
    background-color: #161616;
    color: #fff;
}

//copy from here
.svg-area {
    position: relative;
    width: 20vw;
    height: 50vh;
    box-sizing: border-box;
    background-color: #00000000;
}

.lava-lamp {
    height: inherit;
    background-color: inherit;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 660px) {
    .lava-lamp {
        height: auto !important;
        width: inherit;
        background-color: inherit;
        position: absolute;
        bottom: 0;
    }
}

.blobpath {
    fill: none;
    stroke: none;
}

.blobbase {
    fill: url(#blobfill);
    //clip-path: 'blobclippath'; //idk if this works or not
    //filter: drop-shadow(0px 0px 10px rgba(241, 209, 139, 0.5));
}

.blobbase.base0 {
    fill: url(#blobfill-darker);
}

.blobbase-hidden {
    visibility: hidden;
}

.blob {
    fill: url(#blobfill);
    //filter: drop-shadow(0px 0px 10px rgba(253, 213, 190, 0.5));
}

.blob-dark {
    fill: url(#blobfill-darker);
    //filter: drop-shadow(0px 0px 10px rgba(253, 213, 190, 0.5));
}

.lamp.top,
.lamp.bottom,
.lamp.base {
    fill: url(#bodyfill);
}

.lamp.body {
    fill: url(#liquidfill);
    opacity: 0.8;
    //filter: drop-shadow(0px 0px 5px #fff4b4);
}

.table {
    position: static;
    background-repeat: repeat;
    background-size: contain;
    background-color: #b16a00;
    color: #000000 !important;
}